body{
    margin-right: 500px;
	margin-left: 500px;
	background-color: #001b15;
	font-family: 'Cascadia Code', monospace;
	font-size: 14pt;
}
.center{
	background-color: #1b1b1b;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
}
.center-image{
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;	
	font-size: 14pt;
}
.header{
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;	
	font-size: 14pt;
}