body{
    margin-right: 500px;
	margin-left: 500px;
	background-color: #001b15;
	font-family: 'Cascadia Code', monospace;
	font-size: 14pt;
}
.center{
	background-color: #1b1b1b;
	padding-top: 20px;
	padding-bottom: 610px;
	padding-right: 20px;
	padding-left: 20px;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;	
	font-size: 14pt;
}
.header{
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	text-align: center;	
	font-size: 14pt;
}